.env
.idea
.php_cs.cache
.vscode
.vagrant
/data
/docker-compose-collection
Homestead.json
Homestead.yaml
/ignorables/*
/node_modules
npm-debug.log
package-lock.json
/public/fonts
/public/js
/public/hot
/public/storage
/public/themes
/resources/themes/velocity/*
/resources/themes/ultima/*
/resources/views/*
/resources/lang/vendor/admin/*
/resources/lang/vendor/shop/*
/resources/lang/vendor/velocity/*
/storage/*.key
/storage/dcc-data/
/vendor
yarn.lock
yarn-error.log
packages/BuyNoir/Ultima/node_modules/.bin/regjsparser.cmd
app/Http/Kernel.php
packages/BuyNoir/Ultima

public/themes-old/
public/vendor-old/
