#buynoir-shop-registration input {
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

#buynoir-shop-registration input::placeholder {
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

#buynoir-shop-registration select {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    height: 50px;
}

#myNavbar a.home-signup-btn {
    color: #fdf4f0 !important;
}

#buynoir-homepage a:active,
a:focus,
a:hover,
a:link,
a:visited {
    color: #aa5352 !important;
}

.buynoir-dashboard-container .dashboard .card {
    box-shadow: none;
}

section.integration__logo::before {
    content: none;
}

#buynoir-shop-registration div.registration-subtitle {
    font-size: 25px;
}

#buynoir-shop-registration .cross-icon {
    background-image: url(../images/Icon-Crossed.svg);
    width: 30px;
    height: 30px;
}